<tr id="attr-{{.ID}}" class="table-row-hover row-group">
    <td><code class="code-tag">{{.Name}}</code></td>
    <td>{{.DisplayName}}</td>
    <td class="td-muted">{{.DataType}}</td>
    <td class="td-muted">{{if .Unit}}{{deref .Unit}}{{else}}—{{end}}</td>
    <td class="td-muted">{{if .EnumGroupName}}{{deref .EnumGroupName}}{{else}}—{{end}}</td>
    <td class="td-muted">{{if .IsRequired}}Yes{{else}}—{{end}}</td>
    <td class="td-muted">{{.SortOrder}}</td>
    <td class="td-right">
        <button hx-delete="/admin/attributes/{{.ID}}" hx-target="#attr-{{.ID}}" hx-swap="outerHTML"
                hx-confirm="Remove attribute '{{.DisplayName}}'?"
                class="link-danger row-group-action">remove</button>
    </td>
</tr>
